body{
   background-image: url('/image/19366.jpg');
   object-fit: cover;
   background-size: 100%;
background-attachment: fixed;



}


#header1 {

   top: 0%;

   width: 100%;

}

/*haut de page*/

.contact{
   
   color: black;
   
}

.github {
   float: inline-end;
   margin-left: 5px;
}

.git {
   float: right;
   color: black;
    
}

/*premieretage*/

.portrait {
   float: left;
   z-index: auto;
   object-fit: cover;
}

#presentation {

   text-align: center;
   float: inline-start;
   margin-left: 30px;
   z-index: auto;
}

#experience1 {
   text-align: center;
   float: inline-end;
   margin-left: 20px;
   z-index: auto;
}

#exp2 {

   text-align: center;
   float: inline-start;
}

#photo_hobbie1 {
   float: left;

   text-align: center;
   object-fit: cover;
}

#photo_hobbie2 {

   float: inline-start;
   text-align: center;
   object-fit: cover;
}

#photo_chien {

   float: inline-start;
   text-align: center;
   object-fit: cover;
}

.insta {

   float: inline-start;
}

.ins {
   float: inline-start;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   color: black;
}


.lin {

   float: inline-start;

}

.li {
   float: inline-start;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   color: black;
}

.fb {

   float: inline-start;
}

.fac {
   float: inline-start;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
   color: black;
}



.H1-2 {
   text-align: center;
}

h6 {
   text-align: center;
}

.envoyer {
   width: 100px;
   height: 30px;
}

.cadre_contact {
   border-color: black;

}

#coordonnees {
   float: right;

   text-align: center;
   margin-top: 130px;
   z-index: auto;
}

#contact_form {
   float: left;
}

@media only screen and (max-width: 400px) {
   div {
      width: 100%;
      height: auto;
      flex-direction: column;
      display: block;
      overflow: hidden;
   }
}

a:hover{
   
   color:blue;
}

a:active{
   
   color:gray;
}