body {
   background-color: rgb(196, 185, 185);
}

#header1 {

   top: 0%;

   width: 100%;

}

/*haut de page*/


.github {
   float: inline-end;
   margin-left: 5px;
}

.git {
   float: right;
}

/*premieretage*/

.portrait {
   float: left;
   z-index: auto;
   object-fit: cover;
}

#presentation {

   text-align: center;
   float: inline-start;
   margin-left: 30px;
   z-index: auto;
}

#experience1 {
   text-align: center;
   float: inline-end;
   margin-left: 20px;
   z-index: auto;
}

#exp2 {

   text-align: center;
   float: inline-start;
}

#photo_hobbie1 {
   float: left;

   text-align: center;
   object-fit: cover;
}

#photo_hobbie2 {

   float: inline-start;
   text-align: center;
   object-fit: cover;
}

#photo_chien {

   float: inline-start;
   text-align: center;
   object-fit: cover;
}

.insta {

   float: inline-start;
}

#insta {
   float: inline-start;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
}


.lin {

   float: inline-start;

}

#lin {
   float: inline-start;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
}

.fb {

   float: inline-start;
}

#fb {
   float: inline-start;
   margin-top: 5px;
   margin-left: 5px;
   margin-right: 5px;
}

.H1-2 {
   text-align: center;
}

h6 {
   text-align: center;
}

.envoyer {
   width: 100px;
   height: 30px;
}

.cadre_contact {
   border-color: black;

}

#coordonnees {
   float: right;

   text-align: center;
   margin-top: 130px;
   z-index: auto;
}

#contact_form {
   float: left;
}

@media only screen and (max-width: 400px) {
   div {
      width: 100%;
      height: auto;
      flex-direction: column;
      display: block;
      overflow: hidden;
   }
}